/* App.css */
body {
  font-family: 'Courier New', monospace;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  width: 400px;
  text-align: left;
  color: #000;
}

.header {
  font-size: 24px;
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.input-container select,
.input-container input {
  width: 60%;
  padding: 5px;
  border: none;
  background-color: #f0f0f0;
  color: #000;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.stats input {
  width: 50px;
  padding: 5px;
  border: none;
  background-color: #f0f0f0;
  color: #000;
}

.remaining-points {
  font-size: 16px;
  margin-top: 10px;
}

.button-container {
  margin-top: 20px;
}

.button-container button {
  padding: 8px 15px;
  background-color: #d9d1bf;
  color: #221e1a;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #af9f8f;
}
